// colors
$primary-color: #ffffff;
$text-color: #818498;
$text-color2: #000;
$text-color-testimonial: #a7abae;
$testimonial-text: #5a636c;
$footer-background: #7bcab9;
$text-color3: #19536b;
$footer-info: #25564b;
$background-color: #40befc;

// fonts
$font-1: "Barlow";
$font-2: "Fraunces";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
